.loading-backdrop {
  opacity: 0;

  &.show {
    opacity: 0;

    .spinner-container {
      display: none;
    }
  }

  .spinner-container {
    display: none;
  }
}

.playkit-spinner {
display: none;
}

.playkit-spinner span {
display: none;
}
