.kaltura-player-container {
    background-color: #00000000;
}

.playkit-black-cover {
  display: none;
}
.playkit-video-area {
  display: none;
  background-color: rgba(0, 0, 0, 0);
}

.playkit-gui-area {
  display: none;
}

.playkit-analytics-service {
  display: none;
}

.playkit-subtitles {
  display: none;
}

.playkit-overlay-action {
  display: none;
}

.loading-backdrop {
  opacity: 0;
}

.loading-backdrop .show {
  opacity: 0;
}

.loading-backdrop .show .spinner-container {
  display: none;
}

.playkit-spinner {
display: none;
}

.playkit-spinner span {
display: none;
}

.playkit-player-background-color {
  background-color: #00000000;
}

.playkit-player {
    background: transparent !important;
}
