.playkit-gui-area {
  display: none;
}

.playkit-overlay-action {
  display: none;
}

.loading-backdrop {
  opacity: 0;
}

.loading-backdrop .show {
  opacity: 0;
}

.loading-backdrop .show .spinner-container {
  display: none;
}

.playkit-spinner {
display: none;
}

.playkit-spinner span {
display: none;
}
